# Linux
.directory
# Mac OS
.DS_Store
# VS Code
.vscode/

# IntelliJ IDEA
.idea/
!.idea/project.prompts.xml
*.iws
*.iml
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/

# Gradle
build/
gradle/
.gradle/
gradlew
gradlew.bat

# Kotlin
.kotlin/

# Submodules with own Git repositories
private/

# Local data
local.properties